body {
  background:#f4f4f4;
    line-height:1.6;
}

/* Header */
header {
  background-color: #2c3e50;    
  color: #ecf0f1;             
  padding: 20px 0;
  border-bottom: 4px solid #bc5b1a; 
}

header h1 {
  margin: 0;
  font-size: 36px;
  letter-spacing: 1px;
}


.main-content {
  flex: 1;
  display: flex;
  align-items: center;    
  justify-content: center; 
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 24px;
  text-align: center;
}

/* Footer */
footer {
  background: #d15208;
  color: white;
  text-align: center;
  padding: 20px 0;
  margin-top: 40px;
  font-size: 20px;
}
